@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');
/* css font  */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* body {
  font-family: "Bricolage Grotesque", sans-serif;
  font-style: normal;
} */

.scroll-with-w::-webkit-scrollbar {
  height: 5px; /* Width of the scrollbar */
  width: 5px;
  padding-left: 1rem;
}
.scroll-with-w::-webkit-scrollbar-thumb {
  border-radius: 9999px; /* Rounded edges for the thumb */
  background: #bdc1c6; /* Color of the scrollbar thumb */
}
.scrollx::-webkit-scrollbar {
  height: 0px; /* Width of the scrollbar */
  width: 0px;
}
html {
  scroll-behavior: smooth;
}
.scrollx::-webkit-scrollbar-thumb {
  border-radius: 9999px; /* Rounded edges for the thumb */
  background: #bdc1c6; /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #8d8c8c; /* Color on hover */
  cursor: pointer
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .cloud-menu-color {
    color: #12dc5d;
  }
  .cloud-menu-bg {
    background: #12dc5d;
  }
}
body {
  font-family: "Poppins", ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" ;
  font-style: normal;
  }
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}