@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: "Stardos Stencil", system-ui;
  font-weight: 400;
  font-style: normal;
}

.scrollx::-webkit-scrollbar {
  height: 6px; /* Width of the scrollbar */
  width: 6px;
}

.scrollx::-webkit-scrollbar-thumb {
  border-radius: 9999px; /* Rounded edges for the thumb */
  background: #bdc1c6; /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #8d8c8c; /* Color on hover */
  cursor: pointer
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Stardos Stencil", system-ui;
  font-weight: 400;
  font-style: normal; 
  }
}